name: Push KubeArmor Relay Image to Docker

on:
  push:
    branches: [main, private-relay]

jobs:
  push-docker-img:
    name: Create and push docker image
    if: github.repository == 'accuknox/kubearmor-relay-server'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64/v8

      - name: Determine version
        id: vars
        run: |
          if [ ${{ github.ref }} == "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_AUTHTOK }}

      - name: Set git ssh private key
        run: echo "${{ secrets.GIT_KEY }}" > GIT-KEY

      - name: Push images to Docker
        run: ./relay-server/build/push_img.sh ${{ steps.vars.outputs.tag }}
